<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.spring.dao.MemberDAO">
	<!-- 쿼리문작성
	 - dao메소드의 메소드명과 mapper의 id를 일치시켜야함
	 - resultType을 저렇게 해주면 객체를 만들어서 해당 위치(?)에 자동으로 저장시켜줌 -->
	<select id="getMember" resultType="kr.green.spring.vo.MemberVO">
		SELECT * FROM member WHERE me_id = #{me_id}
	<!-- memberDAO의 @Param() 이 부분과 샵중괄호 안의 내용이라 같아야함 -->
	</select>
	<insert id="insertMember">
		<!-- user.me_id는 자동으로 user.getMe_id() 로 바꿔짐 -->
		INSERT INTO member (me_id, me_pw, me_name, me_birth, me_gender, me_address, me_phone)
		VALUES (#{user.me_id}, #{user.me_pw}, #{user.me_name}, #{user.me_birth}, #{user.me_gender}, #{user.me_address}, #{user.me_phone});
	</insert>
	<update id="updateMember">
	UPDATE member
	SET
		me_pw = #{user.me_pw},
		me_name = #{user.me_name},
		me_birth = #{user.me_birth},
		me_gender = #{user.me_gender},
		me_address = #{user.me_address},
		me_phone = #{user.me_phone},
		me_authority = #{user.me_authority}
	WHERE
		me_id = #{user.me_id};
	</update>
	<select id="findMember" resultType="kr.green.spring.vo.MemberVO">
	SELECT me_id FROM member
	WHERE
		me_email=#{user.me_email}
	AND
		me_name=#{user.me_name}
	LIMIT 1;
	</select>
	<select id="selectMemberList" resultType="kr.green.spring.vo.MemberVO">
	SELECT * FROM member
	WHERE
		me_authority != '슈퍼 관리자';
	</select>
	<update id="updateAutoLogin">
	UPDATE member
	SET
		me_session_id = #{user.me_session_id},
		me_session_limit = #{user.me_session_limit}
	WHERE
		me_id = #{user.me_id}
	</update>
	<select id="selectMemberBySessionId" resultType="kr.green.spring.vo.MemberVO">
	SELECT * FROM member
	WHERE
		me_session_id = #{me_session_id}
	AND
		me_session_limit >= now();
	</select>
	
	
	
	<select id="ParamTest1" resultType="kr.green.spring.vo.MemberVO">
	SELECT * FROM member
	WHERE
		me_id=#{user.me_id}
	</select>
	
	<select id="ParamTest2" resultType="kr.green.spring.vo.MemberVO">
	SELECT * FROM member
	WHERE
		me_id=#{me_id}
	</select>
	
	<select id="selectMainCategory" resultType="kr.green.spring.vo.MainCategoryVO">
	SELECT * FROM maincategory;
	</select>
	
	<select id="selectMiddleCategory" resultType="kr.green.spring.vo.MiddleCategoryVO">
	SELECT * FROM middlecategory
	WHERE mi_ma_num = #{mi_ma_num};
	</select>
	<select id="selectSubCategory" resultType="kr.green.spring.vo.SubCategoryVO">
	SELECT * FROM subcategory WHERE su_mi_num = #{su_mi_num};
	</select>
</mapper>
