<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.green.dao.BoardDAO">
	<select id="selectBoardList" resultType="kr.green.green.vo.BoardVO">
		select * from board where bd_type=#{bd_type} and bd_del='N' order by bd_num desc;
	</select>
	<select id="selectBoard" resultType="kr.green.green.vo.BoardVO">
		select * from board where bd_num=#{bd_num};
	</select>
	<insert id="insertBoard"
		useGeneratedKeys="true"
		keyProperty="board.bd_num"
		parameterType="kr.green.green.vo.BoardVO">
		<!-- 이것도 되고 밑에꺼도 됨... 이거는 근데 ifnull(max(bd_num),0)+1이 뭔지 모르겠음.. 갑자기 SELECT문 나온것도 어지럽네 SQL파트 다시봐야하나
			ori_num 을 쓰기위해 중간에 select 넣어주는것임
			board table의 bd_title... 에 board로부터 셀렉된 #{board.bd_title}...이 들어간다  -->
		insert into
			board(
				bd_title,
				bd_contents,
				bd_me_id,
				bd_reg_date,
				bd_type,
				bd_ori_num,
				bd_del
			) 
			select
				#{board.bd_title},
				#{board.bd_contents},
				#{board.bd_me_id},
				now(),
				#{board.bd_type},
				<!-- ifnull(exp1, exp2) : 값이 null이면 exp1값을 리턴, 아니면 exp2값을 리턴
					 여기서는 bd_ori_num ==null 일시 bd_num의 제일 최대값을 넣고, null이 아니면 0을 리턴한다.
					 -->
				ifnull(max(#{board.bd_title}),0)+1,
				'N'
			from board;
		<!-- insert into board (bd_title, bd_contents, bd_reg_date, bd_type, bd_me_id, bd_ori_num, bd_del)
		SELECT #{board.bd_title}, #{board.bd_contents}, now(), #{board.bd_type}, #{board.bd_me_id},
		ifnull(max(bd_num),0)+1, 'N' FROM board;-->
		
		<!-- insert into board (bd_title, bd_contents, bd_reg_date, bd_type, bd_me_id, bd_ori_num, bd_del)
		values (#{board.bd_title}, #{board.bd_contents}, now() , #{board.bd_type}, #{board.bd_me_id}, #{board.bd_num}, 'N');-->
	</insert>
	
	<select id="getBaord" resultType="kr.green.green.vo.BoardVO">
		select * from board where bd_num = #{bd_num}
	</select>
	
	<update id="updateBoard">
	UPDATE board SET
		bd_title = #{board.bd_title},
		bd_contents = #{board.bd_contents},
		bd_up_date = now()
	WHERE bd_num = #{board.bd_num};
	</update>
	
	<update id="deleteBoard">
		UPDATE board SET
			bd_del = 'Y',
			bd_del_date = now()
		WHERE bd_num=#{bd_nm};
	</update>
	<insert id="insertFile">
		INSERT INTO file (fi_ori_name, fi_name, fi_bd_num) VALUES (#{file.fi_ori_name}, #{file.fi_name}, #{file.fi_bd_num});
	</insert>
	<select id="selectFileList" resultType="kr.green.green.vo.FileVO">
		SELECT * FROM file WHERE fi_bd_num = #{bd_num};
	</select>
</mapper>
