<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.green.dao.CommentDAO">
	<insert id="insertComment">
	INSERT INTO comment
		(co_bd_num,
		co_me_id,
		co_contents,
		co_ori_num)
	<if test="comment.co_ori_num == 0">
		SELECT
			#{comment.co_bd_num},
			#{comment.co_me_id},
			#{comment.co_contents},
			ifnull(max(co_num), 0)+1
		FROM comment
	</if>
	<if test="comment.co_ori_num != 0">
		VALUES(
			#{comment.co_bd_num},
			#{comment.co_me_id},
			#{comment.co_contents},
			#{comment.co_ori_num}
		);
	</if>
	</insert>
	
	<select id="selectAllComment" resultType="kr.green.green.vo.CommentVO">
	SELECT * FROM comment
	WHERE
		co_bd_num = #{co_bd_num};
	</select>
	<select id="selectCommentList" resultType="kr.green.green.vo.CommentVO">
	SELECT * FROM comment
	WHERE
		co_bd_num = #{bd_num}
	AND
		co_del='N'
	ORDER BY
		co_ori_num DESC,
		co_num ASC
	LIMIT #{cri.pageStart}, #{cri.perPageNum};
	</select>
	<select id="selectTotalCnt" resultType="int">
	SELECT COUNT(*) FROM comment
	WHERE
		co_bd_num = #{bd_num}
	AND
		co_del='N';
	</select>
	<select id="selectComment" resultType="kr.green.green.vo.CommentVO">
	SELECT * FROM comment
	WHERE co_num = #{co_num} and co_del='N';
	</select>
	<update id="deleteComment">
	UPDATE comment
	SET
		co_del = 'Y'
	WHERE
		co_num = #{co_num};
	</update>
	<update id="updateComment">
	UPDATE comment
	SET
		co_contents=#{comment.co_contents}
	WHERE
		co_num = #{comment.co_num};
	</update>
</mapper>
